.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background-color: #09a603;
  height: 100vh;
  padding-bottom: 60px;
}

.main__baralho {
  text-align: center;
}

.main__cards {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main__card {
  text-align: center;
  width: 100%;
  min-height: 300px;
}

.main__card_title {
  font-size: 1.3em;
}

@media screen and (max-width: 536px) {
  .main__card_img img {
    width: 80%;
  }

  .main__card {
    min-height: 150px;
  }
}

.main__bottom {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.main__button {
  background-color: #5d04d9;
  border: 0;
  border-radius: 5px 5px;
  color: #fff;
  height: 50px;
  padding: 0;
  width: 100px;
  cursor: pointer;
}

.main__button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
