.header {
  background-color: #353a40;
  color: white;
  display: flex;
  justify-content: space-between;
  max-height: 80px;
  padding: 20px;
}

.header__logo {
  margin: 0;
}

.header__navbar {
  display: flex;
  padding: 10px;
  gap: 20px;
  text-decoration: none;
}

.navigation__bar_link {
  text-decoration: none;
  color: #e9e9e9;
}

.navigation__bar_link:hover {
  color: white;
}

.active {
  text-decoration: underline;
}
